<mat-toolbar class="mat-elevation-z1">
  <img src="./assets/img/mini-logo-white.png" />
  <span
    >Banco Nacional de Panam&aacute; - Gesti&oacute;n de Riesgo Ambiental y
    Social</span
  >
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="printDocument()"
  >
    <mat-icon class="tool">print</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="returnMainPage()"
  >
    <mat-icon class="tool">arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div id="PrintContent" class="print-area">
  <div class="header">
    <h1>Formulario de Construcción: {{ formCode }}</h1>
  </div>
  <div class="contenido">
    <h2>Cliente y propiedad</h2>
    <h3>Describa las características del cliente y de su propiedad.</h3>
    <mat-divider></mat-divider>
  </div>
</div>
