<div class="grid-container">
  <div class="card">
    <img src="assets/img/prestamo_hipotecario.jpg" alt="" style="width: 100%" />
    <h1>Dashboard Préstamo Hipotecario</h1>
    <p class="title">Estadística General para Préstamos Hipotecarios</p>
    <p><button (click)="showChart('1', 'Hipoteca')">Mostrar</button></p>
  </div>
  <div class="card">
    <img src="assets/img/prestamo_personal.png" alt="" style="width: 100%" />
    <h1>Dashboard Préstamo Personal</h1>
    <p class="title">Estadística General para Préstamos Personales</p>
    <p>
      <button (click)="showChart('2', 'Prestamo Personal')">Mostrar</button>
    </p>
  </div>
  <div class="card">
    <img src="assets/img/tarjeta_credito.jpg" alt="" style="width: 100%" />
    <h1>Dashboard Tarjeta de Crédito</h1>
    <p class="title">Estadística General para Tarjetas de Crédito</p>
    <p>
      <button (click)="showChart('3', 'Tarjeta de Crédito')">Mostrar</button>
    </p>
  </div>
</div>
<div class="grid-container">
  <div class="card">
    <img src="assets/img/CA.jpeg" alt="" style="width: 100%" />
    <h1>Dashboard Cuenta de Ahorro</h1>
    <p class="title">Estadística General para Cuentas de Ahorro</p>
    <p><button (click)="showChart('4', 'Cuenta de Ahorro')">Mostrar</button></p>
  </div>
  <div class="card">
    <img src="assets/img/CC.jpg" alt="" style="width: 100%" />
    <h1>Dashboard Cuenta Corriente</h1>
    <p class="title">Estadística General para Cuentas Corrientes</p>
    <p><button (click)="showChart('5', 'Cuenta Corriente')">Mostrar</button></p>
  </div>
  <div class="card">
    <img src="assets/img/DPF.jpg" alt="" style="width: 100%" />
    <h1>Dashboard Depósito Plazo Fijo</h1>
    <p class="title">Estadística General para Depósitos Plazo Fijo</p>
    <p>
      <button (click)="showChart('6', 'Deposito Plazo Fijo')">Mostrar</button>
    </p>
  </div>
</div>
