<mat-toolbar class="mat-elevation-z1">
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img src="./assets/img/mini-logo-white.png" />
  <span
    >Banco Nacional de Panam&aacute; - Gesti&oacute;n de Riesgo Ambiental y
    Social</span
  >
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon class="tool">account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>account_circle</mat-icon>
      <span>{{ username }}</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="
        openConfirmationDialog(
          'Salir de la aplicación',
          '¿Segur@ que deseas cerrar tu sesión y salir de la aplicación?'
        )
      "
    >
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" [(opened)]="opened">
    <mat-nav-list>
      <div mat-subheader>Módulos</div>
      <a mat-list-item routerLink="/home" (click)="changeViewtoChild(false)">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Inicio</div>
      </a>
      <a
        mat-list-item
        routerLink="/home/ListOfficer"
        (click)="changeViewtoChild(true)"
      >
        <mat-icon mat-list-icon>category</mat-icon>
        <div mat-line>Gesti&oacute;n Oficial</div>
      </a>

      <mat-divider></mat-divider>

      <a
        mat-list-item
        href="http://intranet.banconal.com.pa/manualesyprocedimientos/Instructivos/04 Cr%C3%A9dito/An%C3%A1lisis de Riesgo Social y Ambiental/Lista de exclusi%C3%B3n Ambiental y Social.pdf"
        target="_blank"
      >
        <mat-icon mat-list-icon>report_problem</mat-icon>
        <div mat-line>Actividades Excluyentes</div>
      </a>

      <a
        mat-list-item
        href="http://intranet.banconal.com.pa/manualesyprocedimientos/Instructivos/04 Cr%C3%A9dito/An%C3%A1lisis de Riesgo Social y Ambiental/Gu%C3%ADa para el uso de la Herramienta de An%C3%A1lisis de Riesgo Social y Ambiental.pdf"
        target="_blank"
      >
        <mat-icon mat-list-icon>help_outline</mat-icon>
        <div mat-line>Ayuda</div>
      </a>

      <a
        mat-list-item
        (click)="
          openConfirmationDialog(
            'Salir de la aplicación',
            '¿Segur@ que deseas cerrar tu sesión y salir de la aplicación?'
          )
        "
      >
        <mat-icon mat-list-icon>logout</mat-icon>
        <div mat-line>Cerrar Sesi&oacute;n</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="intro-info" *ngIf="intro">
      <div class="container-header">
        <h2>
          Bienvenidos al Sistema de Gesti&oacute;n de Riesgo Ambiental y Social
        </h2>
      </div>
      <div class="container-body">
        <div>
          <img src="./assets/img/procedimiento.jpg" alt="" />
        </div>
      </div>
    </div>
    <div *ngIf="child">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
