<div class="container">
  <div class="container-header">
    <div>
      <button mat-raised-button color="primary" (click)="goBack()">
        Regresar
      </button>
    </div>
    <div style="text-align: center">
      <h2>Estadística Omniturno - {{ producto }}</h2>
    </div>
  </div>
  <div class="container-graphic">
    <h2>{{ title }}</h2>
    <li *ngIf="option == '3'" class="mat-form-field--inline">
      <mat-form-field appearance="fill">
        <mat-label>Seleccione el Trámite:</mat-label>
        <mat-select #t (selectionChange)="showNewSeccionData(t.value)">
          <mat-option
            *ngFor="let secciones of arraySecciones"
            [value]="secciones.SECCION"
            >{{ secciones.SECCION }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <div echarts [options]="_echartOption"></div>
  </div>
  <div class="container-divider">
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="showDataTable == true">
    <div style="text-align: center">
      <h2>Tabla de Datos para {{ producto }}</h2>
      <h3 *ngIf="datatableOption == '3'">{{ seccionTitle }}</h3>
    </div>
    <div style="text-align: center">
      <table
        *ngIf="datatableOption == '1'"
        datatable
        [dtOptions]="dtOptions"
        class="row-border hover"
      >
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of arrayData">
            <td>{{ data.EMPLEADO }}</td>
            <td>{{ data.CANTIDAD_ATENDIDA }}</td>
          </tr>
        </tbody>
      </table>
      <table
        *ngIf="datatableOption == '2'"
        datatable
        [dtOptions]="dtOptions"
        class="row-border hover"
      >
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Promedio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of arrayData">
            <td>{{ data.EMPLEADO }}</td>
            <td>{{ data.PROMEDIO }}%</td>
          </tr>
        </tbody>
      </table>
      <table
        *ngIf="datatableOption == '3'"
        datatable
        [dtOptions]="dtOptions"
        class="row-border hover"
      >
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Mayor Tiempo</th>
            <th>Menor Tiempo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of arrayData">
            <td>{{ data.EMPLEADO }}</td>
            <td>{{ data.MAYOR_TIEMPO }} mins</td>
            <td>{{ data.MENOR_TIEMPO }} mins</td>
          </tr>
        </tbody>
      </table>
      <table
        *ngIf="datatableOption == '5'"
        datatable
        [dtOptions]="dtOptions"
        class="row-border hover"
      >
        <thead>
          <tr>
            <th>Nombre Trámite</th>
            <th>Cantidad Atendida</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of arrayData">
            <td>{{ data.SECCION }}</td>
            <td>{{ data.CANTIDAD_ATENTIDO }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
