.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.container-header {
  display: flex;
  flex-direction: column;
}

.container-graphic {
  text-align: center;
}

.container-divider {
  margin: 1.2rem 0 1.2rem 0;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}
