<div class="contenido">
  <h1>Reporte de Clasificacion - Fecha: {{ currentdate }}</h1>

  <div *ngIf="datatable" class="table-data">
    <table datatable [dtOptions]="dtOptions" datatable class="row-border hover">
      <thead>
        <tr>
          <th>Id</th>
          <th># Cliente</th>
          <th>Codigo Registro</th>
          <th>Fecha Creación</th>
          <th>Estado</th>
          <th>Sector</th>
          <th>Monto Crédito</th>
          <th>Total Exposición</th>
          <th>Banca</th>
          <th>Sucursal</th>
          <th>Nivel Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of arraydata">
          <td>{{ data.id }}</td>
          <td>{{ data.numero_cliente }}</td>
          <td>{{ data.unique_key }}</td>
          <td>{{ data.fecha_creacion }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.sector }}</td>
          <td>{{ data.monto_credito }}</td>
          <td>{{ data.exposicion_grupo }}</td>
          <td>{{ data.banca }}</td>
          <td>{{ data.sucursal }}</td>
          <td>{{ data.resultado_nivel_riesgo_social }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
