<div class="container">
  <h1>Tarea Actual del Ticket N° {{ ticketNumber }}</h1>
</div>

<div *ngIf="showtable == true">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Etapa</th>
        <th>Tarea</th>
        <th>Aprobacion</th>
        <th>Fecha de Inicio</th>
        <th>SLA</th>
        <th>Fecha Entrega</th>
        <th>Tiempo Transcurrido</th>
        <th>Estatus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of arrayData">
        <td>{{ data.step }}</td>
        <td>{{ data.etapa }}</td>
        <td>{{ data.task }}</td>
        <td>{{ data.aprobacion }}</td>
        <td>{{ data.fechaInicio }}</td>
        <td>{{ data.SLA }}</td>
        <td>{{ data.fechaEntrega }}</td>
        <td>{{ data.tiempoTranscurrido }}</td>
        <td>
          <div [style]="data.traffic_light"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-comments" *ngIf="showtableComments == true">
  <div><mat-divider></mat-divider></div>
  <h2>Comentarios</h2>
  <div>
    <table datatable [dtOptions]="dtOptionsC" class="row-border hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Usuario</th>
          <th>Fecha Comentario</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of arrayDataComments">
          <td>{{ data.id }}</td>
          <td>{{ data.user_name }}</td>
          <td>{{ data.create_at }}</td>
          <td style="text-align: justify; font-size: smaller">
            {{ data.comment }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="addComment()">
      Agregar Comentario
    </button>
  </div>
</div>
