<div class="container">
  <mat-card>
    <img src="./assets/img/bnp-logo-white-background.jpg" alt="" />
    <mat-card-title class="color-bnp-blue">Iniciar Sesión</mat-card-title>
    <mat-card-subtitle>{{ title }}</mat-card-subtitle>

    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input
          autocomplete="off"
          matInput
          minlength="3"
          required
          formControlName="user_code"
        />
        <mat-error
          *ngIf="user_code?.invalid && (user_code?.dirty || user_code?.touched)"
        >
          <span *ngIf="user_code?.errors?.required">Usuario requerido</span>
          <span *ngIf="user_code?.errors?.minlength"
            >Longitud mínima: 3 caracteres</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          autocomplete="off"
          matInput
          minlength="8"
          (keydown.enter)="signIn()"
          [type]="hide ? 'password' : 'text'"
          required
          formControlName="password"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <span *ngIf="password?.errors?.required">Contraseña requerida</span>
          <span *ngIf="password?.errors?.minlength"
            >Longitud mínima: 8 caracteres</span
          >
        </mat-error>
      </mat-form-field>

      <div class="help">
        <a>¿Necesitas ayuda?</a>
      </div>

      <button
        type="submit"
        color="primary"
        [disabled]="signInForm.invalid"
        mat-flat-button
        class="full-width"
      >
        Iniciar Sesión
      </button>
    </form>
  </mat-card>

  <footer>
    Eduardo Ménez |
    <a href="mailto:emendez@banconal.com.pa?subject=Gestion de Ticktes GPMC"
      >emendez@banconal.com.pa</a
    >
    <br /><a
      href="http://intranet.banconal.com.pa/manualesyprocedimientos"
      target="_blank"
      >Gerencia Ejecutiva de Procesos y Mejora Continua</a
    >
    <br /><a href="https://www.banconal.com.pa/" target="_blank"
      >Banco Nacional de Panamá</a
    >
  </footer>
</div>
