<mat-toolbar class="mat-elevation-z1">
  <img src="./assets/img/mini-logo-white.png" />
  <span
    >Banco Nacional de Panam&aacute; - Gesti&oacute;n de Riesgo Ambiental y
    Social</span
  >
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="printDocument()"
  >
    <mat-icon class="tool">print</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="returnMainPage()"
  >
    <mat-icon class="tool">arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div class="print-area">
  <div class="header">
    <h1>Formulario General: {{ formCode }}</h1>
  </div>
  <div class="contenido">
    <form [formGroup]="formularioFormGroup">
      <h2>Cliente y actividad</h2>
      <h3>
        Provee la información relevante y marque las características aplicables
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Nombre del Cliente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="nombreClienteCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Nº de Cliente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="customerNumberCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Monto a financiar (dólares):</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="montoFinaciarCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Tipo de actividad:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="tipoActividadCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Área de la actividad/proyecto en (Has/m²):</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="areaActividadCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Tipo de área adyacente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="tipoAreaAdyacenteCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Nivel de riesgo A&S (vea Cuestionario de Clasificación):</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ratingCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Rating A&S (vea Cuestionario de Clasificación):</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="nivelRiesgoCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Licencia ambiental vigente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="licenciaAmbientalCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Otros licencias y permisos obtenidos/requiridos por ley:</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="otrasLicenciasCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Impacto ambiental y social</h2>
      <h3>
        Explique la relación entre la actividad realizada y el impacto generado
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <h2>Hábitat natural</h2>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de impactos ambientales significativos no reversibles,
              que tengan la probabilidad de afectar a terceros
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat01expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Impacto sobre bosque virgen</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat02expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Impacto sobre hábitats naturales protegidos o áreas de alta
              diversidad biológica incluyendo humedales, y manglares
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat03Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat03expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Impacto sobre cuencas mediante programas importantes de
              sustracción, modificación, irrigación o saneamiento.
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat04Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat04expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Impacto sobre vías fluviales nacionales o internacionales</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat05Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="habNat05expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <h2>Insumos y desechos</h2>
        </tr>
        <tr>
          <td><h3>Aumento significativo en el consumo de agua del área</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes01expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Aumento significativo en el consumo de energía del área</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes02expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Manejo y uso de sustancias tóxicas en condiciones líquidas,
              sólidas o gaseosas
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes03Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes03expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Uso de sustancias que reducen el ozono (por ejemplo,
              clorofluocarbonos y solventes clorados)
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes04Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes04expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de aguas residuales o incremento significativo de las
              existentes
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes05Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes05expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de gases de combustión o partículas al aire o
              incremento signicativo de las ya existentes
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes06Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes06expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Generación de olores</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes07Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes07expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de desechos sólidos peligrosos o no peligrosos o
              incremento significativo de los ya existentes
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes08Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes08expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              El producto final se convierte en contaminante una vez utilizado
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes09Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes09expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Contaminación de suelos por uso del sitio</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes10Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="insDes10expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <h2>Salud & Seguridad</h2>
        </tr>
        <tr>
          <td>
            <h3>
              Altos niveles de ruido (dentro de la planta y / o en el límite del
              sitio)
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="salSeg01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="salSeg01expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Exposición de empleados a sustancias dañinas para la salud</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="salSeg02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="salSeg02expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Exposición de empleados a situaciones peligrosas en el lugar de
              trabajo
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="salSeg03Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="salSeg03expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <h2>Comunidad</h2>
        </tr>
        <tr>
          <td>
            <h3>Reasentamiento involuntario de comunidades / familias</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="comuni01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="comuni01expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Impacto sobre la propiedad cultural (sitios religiosos o
              arqueológicos)
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="comuni02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="comuni02expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Impacto sobre los pueblos indígenas</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="comuni03Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="comuni03expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h2>Recursos Humanos</h2></td>
        </tr>
        <tr>
          <td><h3>Provea los datos Requeridos</h3></td>
        </tr>
        <tr></tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Número de Empleados</h3></td>
        </tr>
        <tr>
          <td></td>
          <td>Administrativos:</td>
          <td>
            <mat-form-field>
              <mat-label>Administrativos:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhCountAdmCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Operativos:</td>
          <td>
            <mat-form-field>
              <mat-label>Operativos:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhCountOperaCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Temporales:</td>
          <td>
            <mat-form-field>
              <mat-label>Temporales:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhCountTempCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Total:</td>
          <td>
            <mat-form-field>
              <mat-label>Total:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhConutTotalCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Horario de operación del establecimiento</h3></td>
        </tr>
        <tr>
          <td></td>
          <td>Lunes a Viernes:</td>
          <td>
            <mat-form-field>
              <mat-label>De:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhHorio01DesCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>a:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhHorio01HasCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Sábados</td>
          <td>
            <mat-form-field>
              <mat-label>De:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhHorio02DesCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>a:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhHorio02HasCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Domingos:</td>
          <td>
            <mat-form-field>
              <mat-label>De:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhHorio03DesCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>a:</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhHorio03HasCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              El cliente cumple con el Reglamento de Prevención de Riesgos
              Profesionales y de Seguridad e Higiene del Trabajo
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              El cliente está al día con la Cuota Obrero Patronal con la C.S.S.
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              En los últimos 5 años, el cliente ha sido acusado o condenado por
              uno de los siguientes violaciones laborales? Marque las
              violaciones aplicables y provea una explicación cuando sea
              necesario
            </h3>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <h3>Malas condiciones de trabajo</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato03Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato03expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Horas laborales largas</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato04Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato04expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Trabajo infantil o forzoso</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato05Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato05expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Absencia de negociación colectiva</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato06Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="rhDato06expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h2>Medidas de control</h2></td>
        </tr>
        <tr>
          <td>
            <h3>
              Marque si el cliente toma medidas de control con respecto a los
              siguientes temas. Provee una explicación si necesario
            </h3>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <h3>Desechos sólidos</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl01Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl01expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Desechos líquidos</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl02Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl02expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Aguas residuales</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl03Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl03expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Emisión de gases o partículares al aire</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl04Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl04expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Ruidos</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl05Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl05expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Olores</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl06Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl06expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Almacenaje de sustancias químicas y tóxicas</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl07Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl07expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Protección contra incendios</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl08Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl08expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Salud & Seguridad de empleados</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl09Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl09expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Impacto negativo a la comunidad</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl10Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="medControl10expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h2>Manejo ambiental y social</h2></td>
        </tr>
        <tr>
          <td>
            <h3>
              Marque si el cliente cuenta con los siguientes temas y provee una
              explicación si necesario
            </h3>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              Un documento que contenga la filosofía de protección y prevención
              ambiental de la empresa
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial01Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial01expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Capacitación del personal sobre seguridad, salud y medio ambiente
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial02Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial02expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Alguna actividad en el marco del programa de responsabilidad
              social y ambiental
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial03Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial03expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Plan escrito de políticas de seguridad, salud y medio ambiente
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial04Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial04expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              La empresa ha obtenido certificaciones internacionales por buen
              desempeño ambiental y social (ISO 14001, OSHAS 18001, otro)
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial05Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial05expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              La empresa planea obtener certificaciones internacionales por buen
              desempeño ambiental y social (ISO 14001, OSHAS 18001, otro)
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial06Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial06expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              La empresa/actividad/proyecto cuenta con un encargado ambiental y
              social
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial07Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial07expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              La empresa cuenta con una política/sistema de manejo ambiental y
              social firmada por la Alta Gerencia para los siguietes aspectos:
            </h3>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td><h3>Procedimientos detallados:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial08Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial08expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Responsabilidades asignados:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial09Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial09expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Plan de capacitación de empleados:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial10Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial10expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Sistema de evaluación y mejora:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial11Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial11expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Otro:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial12Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial12expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              La empresa ha tenido consecuencias, durante los últimos 12 meses,
              relacionadas a los siguientes temas ambientales y sociales:
            </h3>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td><h3>Multas:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial13Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial13expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Acciones legales:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial14Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial14expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Huelgas o disputas laborales:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial15Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial15expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Accidentes laborales:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial16Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial16expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Disputas con la comunidad:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial17Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial17expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Otro:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial18Ctr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maAmbiSocial18expCtr"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Conclusiones</h2>
      <mat-form-field appearance="fill" style="width: 50rem">
        <mat-label>Agregar Comentario</mat-label>
        <textarea
          matInput
          #message
          formControlName="conclusionCtr"
          maxlength="256"
          rows="5"
          autocomplete="off"
        ></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <h2>Recomendaciones</h2>
      <mat-form-field appearance="fill" style="width: 50rem">
        <mat-label>Agregar Comentario</mat-label>
        <textarea
          matInput
          #message
          formControlName="recomendacionCtr"
          maxlength="256"
          rows="5"
          autocomplete="off"
        ></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <h2>Gerencia Ejecutiva de Sostenibilidad y Gestión Socioambiental</h2>
      <h3>Nombre del aprobador del registro:</h3>
      <table>
        <tr>
          <td>
            <mat-form-field style="width: 15rem">
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="usuarioAprobadorCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
