<mat-toolbar class="mat-elevation-z1">
  <img src="./assets/img/mini-logo-white.png" />
  <span
    >Banco Nacional de Panam&aacute; - Gesti&oacute;n de Riesgo Ambiental y
    Social</span
  >
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="printDocument()"
  >
    <mat-icon class="tool">print</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="returnMainPage()"
  >
    <mat-icon class="tool">arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div id="PrintContent" class="print-area">
  <div class="header">
    <h1>Formulario de Seguimiento: {{ formCode }}</h1>
  </div>
  <div class="contenido">
    <form [formGroup]="formularioFormGroup">
      <h2>Validación de la clasificación del cliente</h2>
      <h3>
        Valide la clasificación del cliente como fue determinado en la solicitud
        de crédito más reciente
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Nombre del Cliente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="nombreClienteCtrl"
                placeholder="ingresar datos"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td><h3>Número de Cliente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="numeroClienteCtrl"
                placeholder="ingresar datos"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Actividad Económica del cliente</h2>
      <h3>
        Seleccione el nivel de riesgo A&S del cliente como fue indicados en la
        solicitud de crédito más reciente
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Nivel de riesgo A&S:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData01"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Total de exposición del cliente</h2>
      <h3>
        Seleccione el total de exposición del cliente con el banco como fue
        indicados en la solicitud de crédito más reciente
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Total de exposición del cliente (monto en dólares):</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData02"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Rating A&S</h2>
      <h3>
        Indique el Rating A&S como fue establecida en la solicitud más reciente
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Rating A&S:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData03"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Actividad Económica del cliente</h2>
      <h3>
        Seleccione el sector y subsector del cliente como fueron indicados en la
        solicitud de crédito presente
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Sector:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData04"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>SubSector:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData05"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h3>
        En el caso que la actividad económica presente del cliente no está
        mencionado en la lista de sectores y/o sub sectores, consulte con el
        Especialista A&S e indique al mano la la actividad económica del cliente
        así como su nivel de riesgo A&S (bajo, mediano, alto)
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>La actividad económica del cliente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData06"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Nivel de riesgo A&S:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData07"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Nivel de Riesgo Ambiental y Social Alto</h2>
      <h3>
        Marque si la actividad para financiar tiene una de las siguientes
        características
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              Actividades ubicados en las áreas protegidas o ecológicamente
              vulnerables
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData08"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de impactos serios y no reversibles al entorno
              ambiental
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData09"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Generación de riesgos serios de salud para la comunidad</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData10"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de impactos signicativos a vías fluviales
              internacionales
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData11"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Generación de impactos signicativos a bosque virgen</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData12"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Generación de impactos signicativos a los pueblos indígenas</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData13"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de impactos signicativos a la propiedad cultural
              (sitios religiosos o arqueológicos)
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData14"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Generación de impactos signicativos a cuencas mediante de
              actividades de sustracción, modificación, irrigación o saneamiento
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData15"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Reubicación involuntario de comunidades / familias (más de 20
              familias)
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData16"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Ventas anuales</h2>
      <table>
        <tr>
          <td><h3>Indique las ventas anuales presentes del cliente:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData17"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Total de exposición</h2>
      <table>
        <tr>
          <td>
            <h3>
              Indique el total de exposición presentes del cliente con el Banco:
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData18"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Cumplimiento con los covenants y medidas A&S</h2>
      <h3>
        Valide el cumplimiento del cliente con los covenants A&S definidos en el
        contrato y el avance de la implementación del Plan de Acción
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              El contrato con el cliente incluye convenants A&S específicos?
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData19"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              El contrato incluye un Plan de Acción que define medidas, fechas
              límites o entregantes específicos cuales deben ser implementados
              por el cliente?
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData20"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              El cliente cumple con todos los covenants y condiciones definidos
              en el contrato/Plan de Acción cuales son aplicables en este
              momento de monitoreo?
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData21"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>En caso de incumplimiento del cliente, favor de específicar</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData22"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Nuevos eventos A&S</h2>
      <h3>
        Indique si se ocurrió nuevos eventos A&S relevantes desde la solicitud
        de crédito más reciente
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              Se ocurrió cualquier evento A&S negativo con respecto al cliente
              desde la solicitud de crédito más reciente?
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData23"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              En caso positivo, favor de específicar (por ejemplo accidentes,
              multas, campañas de ONG, quejas, prensa negativa, etc.)?
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData24"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              El cliente tomó medidas a causa de estos eventos A&S negativos?
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData25"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>En caso positivo, favor de específicar</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData26"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Medidas correctivas</h2>
      <h3>
        Con base en la validación del Rating A&S y del estatus de cumplimiento
        del cliente, se puede definir medidas correctivas cuando sea necesario
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              Se require definir medidas correctivas para que el cliente cumpla
              de nuevo con los covenants del contrato con el banco?
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData27"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>En caso positivo, favor de específicar</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData28"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Gerencia Ejecutiva de Sostenibilidad y Gestión Socioambiental</h2>
      <h3>Nombre del aprobador del registro</h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Nombre Aprobador:</h3></td>
          <td>
            <mat-form-field style="width: 15rem">
              <mat-label></mat-label>
              <input
                matInput
                formControlName="segData29"
                autocomplete="off"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
