.container {
  display: block;
  margin: 0.5rem;
  padding: 0.2rem;
}

.container container-header {
  display: flex;
}

.container table td {
  text-align: center;
}

.link {
  color: royalblue;
  font-weight: 500;
}

.link:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
