.mat-toolbar {
  position: fixed;
  z-index: 10;
  color: #ffffff;
  font-size: 22px;
  font-weight: normal;
  background-color: #003d7c;
}

.mat-toolbar img {
  margin: 0px 13px;
  height: 26px;
}

mat-toolbar button .tool {
  margin-top: 5px;
  height: 32px;
  width: 32px;
  font-size: 32px;
  border-radius: 50%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.print-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  margin-left: 6rem;
  width: 60rem;
  height: 100%;
}

.print-area .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55rem;
  height: 5rem;
  border: solid 3px black;
  background-color: dodgerblue;
}

.print-area .header h1 {
  padding-top: 1.3rem;
}

.print-area .contenido {
  width: 55rem;
  height: fit-content;
  padding-bottom: 1rem;
  border: solid 3px black;
  margin-top: 1rem;
}

.print-area .contenido h1,
h2,
h3 {
  margin-left: 0.5rem;
}

.print-area .contenido mat-form-field {
  margin-left: 5rem;
}

.table-risk {
  width: 50rem;
  margin-bottom: 2rem;
}

.print-area .caracteristicas {
  width: 55rem;
  height: 100%;
  margin: 0.2rem;
  padding: 0.1rem;
}

.print-area .caracteristicas mat-form-field {
  margin: 0;
}
