<mat-toolbar class="mat-elevation-z1">
  <img src="./assets/img/mini-logo-white.png" />
  <span
    >Banco Nacional de Panam&aacute; - Gesti&oacute;n de Riesgo Ambiental y
    Social</span
  >
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="printDocument()"
  >
    <mat-icon class="tool">print</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="returnMainPage()"
  >
    <mat-icon class="tool">arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div id="PrintContent" class="print-area">
  <div class="header">
    <h1>Formulario de Industrial: {{ formCode }}</h1>
  </div>
  <div class="contenido">
    <form [formGroup]="formularioFormGroup">
      <h2>Cliente y Propiedad</h2>
      <h3>Describa las características del cliente y de su propiedad.</h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Nombre de la unidad industrial:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="nomUnidInduCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Dimensión total de la propiedad (Has/m²):</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="dimencionTotalCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Dimensión ocupada por el proyecto (Has/m²):</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="dimecionOcupadaCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Estado de la propiedad:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="estadoPropCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Zona habitacional más cercana:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="zonaHabiCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Área protegida más cercana:</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="areaProtegiCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Características específicas de la actividad</h2>
      <h3>Resumir las actividades del proceso productivo</h3>
      <mat-divider></mat-divider>
      <div class="caracteristicas">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Caracterisitcas especiales</mat-label>
          <textarea
            matInput
            formControlName="caracteristicasEspCtrl"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <h2>Materias primas</h2>
      <h3>Resumir las actividades del proceso productivo</h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td><h3>Nombre comercial y químico</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="nomComQuiCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Estado Físico (sólido, líquido, gaseoso):</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="estadoFisicoCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Consumo mensual aprox. (cantidad/unidad)</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="consumoMensAproxCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Legislación y permisos</h2>
      <h3>
        Marque si el cliente cuenta con los siguientes permisos. Provea una
        explicación donde sea necesario.
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              Licencia ambiental, permisos municipales y otros necesarios para
              la actividad
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="legisPerm01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="legisPerm01expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Permisos especiales del Organismo de aplicación</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="legisPerm02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="legisPerm02expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Manejo y mitigación</h2>
      <h3>
        Marque si el cliente cuenta con una de las siguientes medidas. Provea
        una explicación donde sea necesario.
      </h3>
      <mat-divider></mat-divider>
      <h2>Aguas residuales</h2>
      <table>
        <tr>
          <td><h3>Tiene planta de tratamiento de efluentes</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti01expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Instalaciónes cuentan con drenajes separados para las aguas
              residuales industriales, sanitarias y pluviales o es mixto
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti02expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Mantenimiento al drenaje de efluentes</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti03Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti03expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Residuos solidos</h2>
      <table>
        <tr>
          <td><h3>Relleno Sanitario propio</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti04Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti04expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Clasificacion, almacenamiento y separacion; envases de productos
              quimicos/peligrosos/toxicos.
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti05Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti05expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Prácticas de reciclado o reutilizacion de residuos sólidos</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti06Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti06expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Reutilizacion de Sub Productos generados por la industria</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti07Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti07expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Emisiones y ruido</h2>
      <table>
        <tr>
          <td><h3>Medidas preventivas de contaminación atmosférica</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti08Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti08expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Prácticas de reducción de polvo y ruido</h3></td>
        </tr>
        <tr>
          <td style="text-align: end"><h4>Polvo</h4></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti09Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti09expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td style="text-align: end"><h4>Ruido</h4></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti10Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti10expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Seguridad, higiene y medicina en el trabajo</h2>
      <table>
        <tr>
          <td><h3>Los Empleados cuentan con seguro medico</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti11Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti11expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Equipos de primeros auxilios (Botiquín, Paramédicos, etc)</h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti12Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti12expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Equipos de proteccion individual para las labores</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti13Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti13expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Salidas de emergencias</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti14Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti14expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Señalizaciones de seguridad</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti15Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti15expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Brigadas de emergencias, personal de la empresa capacitado o
              entrenado ante posibles siniestros.
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti16Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti16expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Equipos de proteccion contra incendios</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti17Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti17expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Infraestructura</h2>
      <table>
        <tr>
          <td>
            <h3>
              Procedimiento de almacenamiento específicos para las materias
              primas de naturaleza química/tóxica
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti18Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti18expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Fuente de agua propia</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti19Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti19expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Energia eléctrica instalada</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti20Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti20expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Energia eléctrica instalada</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti21Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="maneMiti21expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Planes, políticas y gestiones corporativas</h2>
      <h3>
        Marque si el cliente cuenta con una de las siguientes medidas. Provea
        una explicación donde sea necesario.
      </h3>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>
            <h3>
              Política o criterio para minimizar la generación de residuos
              peligrosos
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc01Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc01expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Procedimiento para notificar el área circundante de un problema en
              las instalaciones.
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc02Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc02expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Programa de capacitación y adiestramiento</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc03Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc03expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Programa de control de incendio e inflamabilidad</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc04Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc04expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Programa de mantenimiento de drenajes</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc05Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc05expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Programa de higiene y seguridad industrial</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc06Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc06expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Programa de prevención de accidentes</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc07Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc07expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Programa de mantenimiento de instalaciones eléctricas y
              maquinarias
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc08Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc08expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Procedimientos, programas o planes de emergencia</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc09Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc09expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Información sobre el medio circunvecino respecto de la geología,
              hidrología, flora y fauna, topografía
            </h3>
          </td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc10Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc10expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><h3>Algún tipo de servicios a la población</h3></td>
          <td>
            <mat-form-field>
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc11Ctrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Explicación</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="ppgc11expCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h2>Conclusiones</h2>
      <div class="caracteristicas">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Caracterisitcas especiales</mat-label>
          <textarea
            matInput
            formControlName="conclusionesCtrl"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <h2>Recomendaciones</h2>
      <div class="caracteristicas">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Caracterisitcas especiales</mat-label>
          <textarea
            matInput
            formControlName="recomendacionesCtrl"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <h2>Gerencia Ejecutiva de Sostenibilidad y Gestión Socioambiental</h2>
      <h3>Nombre del aprobador del registro:</h3>
      <table>
        <tr>
          <td>
            <mat-form-field style="width: 15rem">
              <mat-label></mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="usuarioAprobadorCtrl"
                placeholder="Ingrese el dato"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
