<div class="grid-container">
  <div class="card">
    <img src="assets/img/call-center.jpg" alt="" style="width: 100%" />
    <h1>Omniturno</h1>
    <p class="title">Estadística de Atención Semanal</p>
    <p><button (click)="showChart('1', 'Atención Semanal')">Mostrar</button></p>
  </div>
  <div class="card">
    <img src="assets/img/call-center.jpg" alt="" style="width: 100%" />
    <h1>Omniturno</h1>
    <p class="title">Estadística Promedio Atendido</p>
    <p>
      <button (click)="showChart('2', 'Promedio Atención Semanal')">
        Mostrar
      </button>
    </p>
  </div>
  <div class="card">
    <img src="assets/img/call-center.jpg" alt="" style="width: 100%" />
    <h1>Omniturno</h1>
    <p class="title">Estadística Atención por Colaborador</p>
    <p>
      <button (click)="showChart('3', 'Atención por Colaborador')">
        Mostrar
      </button>
    </p>
  </div>
  <div class="card">
    <img src="assets/img/call-center.jpg" alt="" style="width: 100%" />
    <h1>Omniturno</h1>
    <p class="title">Estadística Total de Trámites</p>
    <p><button (click)="showChart('5', 'Total Trámites')">Mostrar</button></p>
  </div>
</div>
