<div class="container">
  <div class="container-header">
    <div>
      <button mat-raised-button color="primary" (click)="goBack()">
        Regresar
      </button>
    </div>
    <div style="text-align: center">
      <h2>Estadística General - {{ producto }}</h2>
    </div>
  </div>
  <div class="container-graphic">
    <h2>{{ title }}</h2>
    <li class="mat-form-field--inline">
      <mat-form-field appearance="fill">
        <mat-label>Seleccione la Región:</mat-label>
        <mat-select #r (selectionChange)="getSucursales(r.value)">
          <mat-option
            *ngFor="let regiones of arrayRegiones"
            [value]="regiones.ID"
            >{{ regiones.region }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione el Sector:</mat-label>
        <mat-select #t (selectionChange)="searchByBranch(t.value)">
          <mat-option
            *ngFor="let sucursal of arraySucursales"
            [value]="sucursal.branch_number + '-' + sucursal.branch"
            >{{ sucursal.branch }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <div echarts [options]="_echartOption"></div>
  </div>
  <div class="container-divider">
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="showKPIResult == true" class="KPI-Container">
    <h2>Gráfico KPI Producto</h2>
    <div class="chartTableContainer">
      <div class="kpiChart" echarts [options]="_echartOption2"></div>
      <div *ngIf="showKPIChartsTable" class="dataTableContainer">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Codigo Sucursal</th>
              <th>Nombre Sucursal</th>
              <th>Monto Actual</th>
              <th>Monto Establecido</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of arrayDataTable">
              <td>{{ data.codigo_sucursal }}</td>
              <td>{{ data.nombre_sucursal }}</td>
              <td>{{ data.KPI_alcanzado }}</td>
              <td>{{ data.KPI_establecido }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="activeProduct == false && showDataTablePassive == true">
    <div style="text-align: center">
      <h2>Tabla de Productos para {{ producto }}</h2>
    </div>

    <div style="text-align: center">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Codigo</th>
            <th>Nombre Producto</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of arrayData">
            <td>{{ data.producto }}</td>
            <td>{{ data.subproducto }}</td>
            <td>{{ data.nombre }}</td>
            <td>{{ data.cantidad }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
