.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
}

.mat-card {
  width: 250px;
  padding: 32px;
}

.mat-card img {
  width: 150px;
  margin-bottom: 16px;
}

.mat-card .mat-flat-button {
  color: #ffffff;
  margin-top: 32px;
}

footer {
  margin-top: 16px;
  font-size: 13px;
  color: gray;
}

.help {
  text-align: left;
  font-size: 13px;
}

a {
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  color: #003d7c;
}

.alert-danger {
  border-radius: 5px;
  padding: 16px;
  text-align: justify;
}

.help a {
  font-weight: 500;
}
