<mat-toolbar class="mat-elevation-z1" color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="./assets/img/mini-logo-white.png" alt="BNP Logo" />
  <span class="title">Dashboard General | Sucursal</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" [(opened)]="opened">
    <mat-nav-list fxLayout="column" fxFlex>
      <a mat-list-item routerLink="/home">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Inicio</div>
      </a>

      <mat-divider></mat-divider>
      <div *ngIf="role === 1">
        <div mat-subheader>Area Ejecutiva</div>
        <a mat-list-item routerLink="/home/general">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div mat-line>Dashboard General</div>
        </a>

        <a mat-list-item routerLink="/home/filtred">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div mat-line>Dashboard Con Filtros</div>
        </a>

        <a mat-list-item routerLink="/home/omniturno">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div mat-line>Dashboard Omniturno</div>
        </a>
      </div>
      <div *ngIf="role === 2">
        <mat-divider></mat-divider>
        <div mat-subheader>Área Sucursales</div>
        <a mat-list-item routerLink="/home/general">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div mat-line>Dashboard General</div>
        </a>
        <a mat-list-item routerLink="/home/omniturno">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div mat-line>Dashboard Omniturno</div>
        </a>
      </div>
      <span fxFlex></span>
      <mat-divider></mat-divider>

      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>Cuenta</div>
      </a>

      <mat-menu #menu="matMenu">
        <span mat-menu-item disabled>{{ tokenPayload.name }}</span>

        <button
          mat-menu-item
          (click)="
            openConfirmationDialog(
              'Salir',
              '¿Segur@ que deseas salir de la aplicación?'
            )
          "
        >
          <mat-icon>power_settings_new</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>

      <a mat-list-item>
        <mat-icon mat-list-icon>help</mat-icon>
        <div mat-line>Ayuda</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
