<div class="container">
  <mat-card>
    <img src="./assets/img/bnp-logo-white-background.jpg" alt="" />
    <mat-card-title class="color-bnp-blue">Iniciar Sesión</mat-card-title>
    <mat-card-subtitle
      >Gesti&oacute;n de Riesgo Ambiental y Social</mat-card-subtitle
    >

    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field class="width-100" appearance="standard">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          [(ngModel)]="credentialsModel.user_code"
          #user="ngModel"
          name="user"
          required
          autocomplete="off"
          placeholder="Ingresa tu usuario"
        />
        <mat-error *ngIf="user.invalid">Usuario inválido</mat-error>
      </mat-form-field>

      <mat-form-field class="width-100" appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [(ngModel)]="credentialsModel.password"
          #password="ngModel"
          name="password"
          (keyup.enter)="signIn()"
          required
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Ingresa tu contraseña"
        />
        <mat-icon matSuffix (click)="showPassword = !showPassword">{{
          showPassword ? "visibility" : "visibility_off"
        }}</mat-icon>
        <mat-error *ngIf="password.invalid">Contraseña inválida</mat-error>
      </mat-form-field>
    </form>

    <button
      color="primary"
      [disabled]="userForm.form.invalid"
      mat-flat-button
      class="width-100"
      (click)="signIn()"
    >
      Iniciar Sesión
    </button>

    <mat-card-footer>
      <a
        mat-button
        class="optional-button color-bnp-blue"
        href="http://intranet.banconal.com.pa/manualesyprocedimientos/Instructivos/04 Cr%C3%A9dito/An%C3%A1lisis de Riesgo Social y Ambiental/Gu%C3%ADa para el uso de la Herramienta de An%C3%A1lisis de Riesgo Social y Ambiental.pdf"
        target="_blank"
        >Manual de Usuario</a
      >
    </mat-card-footer>
  </mat-card>

  <footer>
    <a
      href="http://intranet.banconal.com.pa/manualesyprocedimientos"
      target="_blank"
      >Gerencia Ejecutiva de Procesos y Mejora Continua</a
    >
    <br />
    <a href="https://www.banconal.com.pa/" target="_blank"
      >Banco Nacional de Panamá</a
    >
  </footer>
</div>
