<div class="container-header">
  <h2>M&oacute;dulo de Generaci&oacute;n de Nuevo Registro</h2>
</div>
<div class="container">
  <h3>A continuaci&oacute;n se detallan los datos a registrar:</h3>
  <div class="container-llave-unica">
    <mat-form-field>
      <mat-label>Llave unica</mat-label>
      <input matInput [(ngModel)]="uniqueKeyVaule" disabled="true" />
    </mat-form-field>
  </div>
  <div class="container-usuario">
    <mat-form-field appearance="fill" style="width: 26rem">
      <mat-label>Clientes Registrados:</mat-label>
      <mat-select
        #SelectedCustomerNumber
        (selectionChange)="getSelectedCustomer(SelectedCustomerNumber.value)"
      >
        <mat-option
          *ngFor="let clients of registedClients"
          [value]="clients.numero_cliente"
          >{{ clients.nombre_cliente }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 0.5rem"
      (click)="openNewCustomer()"
    >
      Agregar Cliente
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="second-group">
    <div class="container-formularios">
      <mat-form-field>
        <mat-label>Llave Formulario Clasificaci&oacute;n</mat-label>
        <input matInput [(ngModel)]="formClasification" disabled="true" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Llave Formulario General</mat-label>
        <input matInput [(ngModel)]="formGeneral" disabled="true" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Llave Formulario Seguimiento</mat-label>
        <input matInput [(ngModel)]="formFollow" disabled="true" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Llave Formulario Sectorial</mat-label>
        <input matInput [(ngModel)]="formSectorial" disabled="true" />
      </mat-form-field>
    </div>
    <div class="radio-group">
      <label id="zona-cliente"
        >Favor indicar a que sector pertenece (valor inicial
        <strong>Industrial</strong> ):</label
      >
      <mat-radio-group aria-labelledby="formularios-sectoriales">
        <ul>
          <li>
            <mat-radio-button
              #radioIndustrial
              [checked]="true"
              [value]="'IND'"
              (change)="setCurrentSectorialForm(radioIndustrial.value)"
              >Formulario Industrial</mat-radio-button
            >
          </li>
          <li>
            <mat-radio-button
              #radioAgricola
              [value]="'AGR'"
              (change)="setCurrentSectorialForm(radioAgricola.value)"
              >Formulario Agr&iacute;cola</mat-radio-button
            >
          </li>
          <li>
            <mat-radio-button
              #radioGanaderia
              [value]="'GAN'"
              (change)="setCurrentSectorialForm(radioGanaderia.value)"
              >Formulario Ganader&iacute;a</mat-radio-button
            >
          </li>
          <li>
            <mat-radio-button
              #radioForestal
              [value]="'FOR'"
              (change)="setCurrentSectorialForm(radioForestal.value)"
              >Formulario Forestal</mat-radio-button
            >
          </li>
          <li>
            <mat-radio-button
              #radioConstruccion
              [value]="'CON'"
              (change)="setCurrentSectorialForm(radioConstruccion.value)"
              >Formulario Construcci&oacute;n</mat-radio-button
            >
          </li>
        </ul>
      </mat-radio-group>

      <section class="list-section">
        <mat-checkbox class="list-checkbox" [(ngModel)]="listaExclusion"
          >Actividad incluida en <strong>Lista de Exclusi&oacute;n</strong>
        </mat-checkbox>
      </section>

      <section class="comment-box" *ngIf="listaExclusion == true">
        <mat-form-field class="comment-full-width" appearance="fill">
          <mat-label>Favor indica comentario</mat-label>
          <textarea
            matInput
            [(ngModel)]="exclusionComment"
            required="true"
            placeholder="El cliente se encuentra en lista de exclusión..."
          ></textarea>
        </mat-form-field>
      </section>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="container-foot">
    <button mat-raised-button color="accent" (click)="closeDialog()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="postNewRegister()">
      Generar Formularios
    </button>
  </div>
</div>
