.mat-button-base {
  margin: 8px 8px 8px 0;
}

.container-formularios {
  display: flex;
  flex-direction: column;
}

.second-group {
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
}

.radio-group {
  margin-right: 0.3rem;
  padding: 0.1rem;
}

.radio-group ul {
  list-style: none;
}
.radio-group li {
  margin: 4px;
}

.container-foot {
  margin-top: 1rem;
}

.list-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.list-section .list-checkbox {
  margin-left: 3rem;
}

.radio-group .comment-box mat-form-field {
  width: 20rem;
  margin-left: 3rem;
}
