<div class="dialog-header">
  <h2 mat-dialog-title>Acciones para el Ticket N° {{ TicketNumber }}</h2>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon matSuffix>close</mat-icon>
  </button>
</div>

<form
  [formGroup]="assigmentForm"
  novalidate
  autocomplete="off"
  (ngSubmit)="onSubmit()"
>
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Accion para el Ticket</mat-label>
          <mat-select
            #t
            required
            formControlName="assigmentAction"
            (selectionChange)="getDataChoose(t.value)"
          >
            <mat-option *ngFor="let item of arrayData1" [value]="item.param_id">
              {{ item.value }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>swap_horiz</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="showAsignar == true">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select
            #b
            required
            formControlName="setDepartment"
            (selectionChange)="
              getAnalista(b.value); getAssignmentCodes(b.value)
            "
          >
            <mat-option *ngFor="let item of arrayData2" [value]="item.param_id">
              {{ item.value }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>swap_horiz</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="showAsignar == true">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tipo Asignación</mat-label>
          <mat-select #c required formControlName="setAssignment">
            <mat-option
              *ngFor="let item of arrayData4"
              [value]="item.cod_assignment"
            >
              {{ item.descript }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>swap_horiz</mat-icon>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Analista Asignado</mat-label>
          <mat-select #t required formControlName="setAnalyst">
            <mat-option
              *ngFor="let item of arrayData3"
              [value]="item.user_code"
            >
              {{ item.user_name }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>swap_horiz</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="showAsignar == true">
      <div class="col">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Indique Fecha Inicial</mat-label>
          <input
            #fechaPromesa
            matInput
            [matDatepicker]="picker"
            (dateInput)="setFechaPromesa(fechaPromesa.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-checkbox
          #sla
          (change)="specialSLA(sla.checked)"
          style="margin-top: 20px"
          >¿Tiene SLA Especial?</mat-checkbox
        >
      </div>
      <div class="col" *ngIf="slaSpecial == true">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Indique SLA Especial</mat-label>
          <input
            #slaSpecial
            matInput
            [matDatepicker]="picker2"
            (dateInput)="setFechaPromesa(slaSpecial.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="showRechazar == true || showAsignar == true">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Comentarios</mat-label>
          <textarea
            matInput
            #message_comentarios
            formControlName="commentAssigment"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
          <mat-hint align="start"
            ><strong>No coloque informaci&oacute;n personal</strong>
          </mat-hint>
          <mat-hint align="end"
            >{{ message_comentarios.value.length }} / 1000</mat-hint
          >
          <mat-icon matSuffix>infong </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
</form>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="closeDialog()">
    Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Guardar
  </button>
</mat-dialog-actions>
