<div class="container-header">
  <h1>Formulario Sectorial - Forestal: {{ formCode }}</h1>
</div>

<div class="container-form">
  <form [formGroup]="formularioFormGroup">
    <mat-accordion class="example-headers-align" multi>
      <!-- Seccion Cliente y propiedad -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Cliente y propiedad </mat-panel-title>
          <mat-panel-description>
            Describa las caracter&iacute;sticas del cliente y de su propiedad.
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <tbody>
            <tr>
              <td>Zona habitacional m&aacute;s cercana:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer01Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>&Aacute;rea protegida m&aacute;s cercana:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer02Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Asentamientos campesinos en la zona:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer03Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Asentamientos originarios en la zona:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer04Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <!-- Seccion Caracteristicas rspecificas de la actividad -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Caracter&iacute;sticas espec&iacute;ficas de la actividad
          </mat-panel-title>
          <mat-panel-description>
            Resumir las actividades del proceso productivo
            <mat-icon>travel_explore</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <tbody>
            <tr>
              <td>
                Dimensi&oacute;n total de la propiedad (Has/m<sup>2</sup>):
              </td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer05Ctrl"
                    placeholder="Ingrese la dimensión"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                Dimensi&oacute;n ocupada por el proyecto (Has/m<sup>2</sup>):
              </td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer06Ctrl"
                    placeholder="Ingrese la dimensión"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>N&uacute;mero de &aacute;rboles a implantar:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer07Ctrl"
                    placeholder="Ingrese la dimension"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Espacies forestales a implantar:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer08Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Nombre de las especies:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer09Ctrl"
                    placeholder="Ingrese la dimensión"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Superficie forestal propia (Has):</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer10Ctrl"
                    placeholder="Ingrese la dimensión"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Superficie forestal arrendada (Has):</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer11Ctrl"
                    placeholder="Ingrese la dimensión"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>&Aacute;rea total con potencial forestal (Has):</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer12Ctrl"
                    placeholder="Ingrese la dimensión"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                Fecha en que se estableci&oacute; el &aacute;rea forestal:
              </td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="customer13Ctrl"
                    placeholder="fecha (dd/mm/aaaa)"
                  />
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <!-- Seccion Legislacion y permisos -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Legislaci&oacute;n y permisos</mat-panel-title>
          <mat-panel-description>
            Marque si el cliente cuenta con los siguientes permisos y cumple con
            las siguientes leyes. Provee una explicaci&oacute;n donde sea
            necesario
            <mat-icon>manage_accounts</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <thead>
            <th></th>
            <th></th>
            <th>Explicaci&oacute;n</th>
          </thead>
          <tbody>
            <tr>
              <td>
                Plan de gesti&oacute;n y licencia aprobado por las autoridades:
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="legisPerm01Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="legisPerm01expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Cumplimiento con la Ley de Forestal y Ambiental:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="legisPerm02Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="legisPerm02expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <!-- Seccion Infraestructura -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Infraestructura</mat-panel-title>
          <mat-panel-description>
            Marque si el cliente cuenta con una de las siguientes medidas.
            Provea una explicaci&oacute;n donde sea necesario.
            <mat-icon>public</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <thead>
            <th></th>
            <th></th>
            <th>Explicaci&oacute;n</th>
          </thead>
          <tbody>
            <tr>
              <td>Fuente de provisi&oacute;n de agua:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra01Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra01expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Cuenta con red p&uacute;blica el&eacute;trica:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra02Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra02expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Otras fuentes de energ&iacute;a utilizadas:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra03Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra03expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Cuenta con aserradero en la propiedad:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra04Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra04expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Maquinarias propias:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra05Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra05expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Maquinarias alquiladas para las labores:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra06Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra06expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Tiene vivero forestal propio:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra07Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra07expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><h3>¿De d&oacute;nde obtiene el cliente sus insumos?</h3></td>
            </tr>
            <tr>
              <td>Nombre de la empresa proveedora:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <textarea
                    matInput
                    formControlName="infra08Ctrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Insumos prove&iacute;dos por la empresa:</td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <textarea
                    matInput
                    formControlName="infra09Ctrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                La empresa provee asesoramiento t&eacute;cnico sobre la
                utilizaci&oacute;n de sus productos.
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="infra10Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="infra11Ctrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <!-- Manejo y mitigacion -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Manejo y mitigaci&oacute;n</mat-panel-title>
          <mat-panel-description>
            Marque si el cliente cuenta con una de las siguientes medidas.
            Provea una explicaci&oacute;n donde sea necesario.
            <mat-icon>thumb_up</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <thead>
            <th></th>
            <th></th>
            <th>Explicaci&oacute;n</th>
          </thead>
          <tbody>
            <tr>
              <td><h3>Suelo:</h3></td>
            </tr>
            <tr>
              <td style="text-align: center">
                Protecci&oacute;n de pendiente (curvas de nivel):
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="suelo01Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <input
                    matInput
                    formControlName="suelo01expCtrl"
                    placeholder="ingresar datos"
                  />
                  <textarea
                    matInput
                    formControlName="suelo01expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                Medidas de protecci&oacute;n de los suelos:
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="suelo02Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="suelo02expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><h3>Agua</h3></td>
            </tr>
            <tr>
              <td style="text-align: center">
                Existe en la finca o en las adyacencias alg&uacute;n curso
                h&iacute;drico:
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="agua01Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="agua01expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                Protecci&oacute;n de nacientes y cursos de agua, en el caso que
                exista en la propiedad:
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="agua02Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="agua02expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">Utiliza reigo para el proyecto</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="agua03Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="agua03expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr style="text-align: center">
              <td>Cu&aacute;ntas hect&aacute;reas se riegan:</td>
              <td></td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="agua04Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr style="text-align: center">
              <td>Procedencia del agua para el riego:</td>
              <td></td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="agua05Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr style="text-align: center">
              <td>Tipo/M&eacute;todo de riego:</td>
              <td></td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="agua06Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr style="text-align: center">
              <td>
                Cantidad de agua utilizada por d&iacute;a
                (m<sup>3</sup>/d&iacute;a) para el riego:
              </td>
              <td></td>
              <td>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="agua07Ctrl"
                    placeholder="Ingrese el dato"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><h3>Salud & seguridad y comunidades</h3></td>
            </tr>
            <tr>
              <td style="text-align: center">
                Los empleados cuentan con seguro m&eacute;dico;
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="ssc01Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="ssc01expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                Equipos de primeros auxilos (Botiqu&iacute;n)
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="ssc02Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="ssc02expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                Pol&iacute;ticas y programas adecuados para las relaciones con
                habitates campesionos o pueblos indi&iacute;genas en la zona:
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="ssc03Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="ssc03expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <!-- Planes, politicas y gestiones corporativas -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >Planes, politicas y gestiones corporativas</mat-panel-title
          >
          <mat-panel-description>
            Marque si el cliente cuenta con una de las siguientes medidas.
            <mat-icon>manage_accounts</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <tbody>
            <tr>
              <td>
                Informaci&oacute;n sobre el medio circunvecino respecto de la
                geolog&iacute;a, hidrolog&iacute;a, flora y fauna,
                topograf&iacute;a:
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="ppgc01Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="ppgc01expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Alg&uacute;n tipo de servicios a la poblaci&oacute;n</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="ppgc02Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="ppgc02expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Asentamientos campesinos en la zona:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc03Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc03expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Asentamientos de pueblos originarios en la zona:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc04Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc04expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Planes de manejo forestal:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc05Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc05expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                Programa de capacitaci&oacute;n y adiestramiento - asistencia
                t&eacute;cnica
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc06Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>

                  <textarea
                    matInput
                    formControlName="pggc06expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                Plan/Programa para la prevenci&oacute;n y control de incendios:
              </td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc07Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc07expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Cuenta con certificaci&oacute;n forestal</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc08Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc08expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Control biol&oacute;gico de plagas</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc09Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc09expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Uso de herbicidas:</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc10Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc10expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Uso de insecticidas</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc11Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <input
                    matInput
                    formControlName="pggc11expCtrl"
                    placeholder="ingresar datos"
                  />
                  <textarea
                    matInput
                    formControlName="pggc11expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Manejo adecuado de productos qu&iacute;micos</td>
              <td style="margin-left: 1rem">
                <mat-form-field style="width: 10rem">
                  <mat-label></mat-label>
                  <input
                    matInput
                    formControlName="pggc12Ctrl"
                    placeholder="ingresar datos"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Explicaci&oacute;n</mat-label>
                  <textarea
                    matInput
                    formControlName="pggc12expCtrl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <!-- Seccion Conclusiones y Recomendaciones -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Conclusiones y Recomendaciones</mat-panel-title>
          <mat-panel-description>
            Describa aqui sus conclusiones sobre los impactos y riesgos y
            recomendaciones para la mitigaci&oacute;n de los mismos
            <mat-icon>health_and_safety</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <h2>Conclusiones</h2>
          <mat-form-field class="example-full-width">
            <mat-label>Conclusiones</mat-label>
            <textarea
              matInput
              #message_conclusion
              formControlName="conclusion"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea>
            <mat-hint align="start"
              ><strong>No coloque informaci&oacute;n personal</strong>
            </mat-hint>
            <mat-hint align="end"
              >{{ message_conclusion.value.length }} / 256</mat-hint
            >
          </mat-form-field>
        </div>
        <div>
          <h2>Recomendaciones</h2>
          <mat-form-field class="example-full-width">
            <mat-label>Recomendaciones</mat-label>
            <textarea
              matInput
              #message_recomendacion
              formControlName="recomendacion"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea>
            <mat-hint align="start"
              ><strong>No coloque informaci&oacute;n personal</strong>
            </mat-hint>
            <mat-hint align="end"
              >{{ message_recomendacion.value.length }} / 256</mat-hint
            >
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div class="button-row">
    <button mat-raised-button (click)="closeForm()">Cerrar</button>
    <div *ngIf="isDesicion">
      <button mat-raised-button color="warn" (click)="openNewComment('1')">
        Corregir
      </button>
      <button mat-raised-button color="primary" (click)="openNewComment('2')">
        Marcar Verificado
      </button>
    </div>
  </div>
</div>
